.version.illustrations /* version checker */
{
	color: #000018;
	background-color: #160B40;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 616px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 58px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu680
{
	z-index: 7;
	width: 0.01px;
	height: 1230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 234px;
}

#u681
{
	position: absolute;
	width: 746px;
	height: 541px;
	border-style: none;
	border-color: transparent;
	background-color: #F4F4F4;
	background-color: rgba(244,244,244,0.95);
	top: 178px;
	left: -1125px;
	-pie-background: rgba(244,244,244,0.95);
}

#u681popup
{
	z-index: 8;
}

#u5353
{
	z-index: 9;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5353_img
{
	margin-top: -11px;
	margin-bottom: -11px;
}

#u4795
{
	z-index: 11;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4795_img
{
	margin: 1px -10px -1px -7px;
}

#u4887
{
	z-index: 13;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4887_img
{
	margin-top: -23px;
	margin-right: -1px;
}

#u4939
{
	z-index: 15;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4939_img
{
	padding-left: 112px;
	padding-right: 111px;
}

#u5249
{
	z-index: 17;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5249_img
{
	margin: -25px 141px -39px 154px;
}

#u5339
{
	z-index: 19;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5339_img
{
	margin: -7px 32px 7px 31px;
}

#u4855
{
	z-index: 21;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4855_img
{
	padding-left: 105px;
	padding-right: 86px;
}

#u6061
{
	z-index: 23;
	width: 702px;
	height: 479px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5353_clip,#u4795_clip,#u4887_clip,#u5249_clip,#u5339_clip,#u6061_clip
{
	overflow: hidden;
	width: 702px;
	height: 479px;
}

#u6061_img
{
	margin-top: -47px;
}

#u689
{
	position: absolute;
	width: 688px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u689popup
{
	z-index: 25;
}

#u5356
{
	z-index: 26;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u4798
{
	z-index: 28;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u5356:hover,#u4798:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4890
{
	z-index: 30;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 39px;
}

#u4890:hover
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 310px -10000px 0px 0px;
}

#u4942
{
	z-index: 32;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 349px;
}

#u4942:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 310px -10000px 0px 0px;
}

#u5252
{
	z-index: 34;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 620px;
	left: 39px;
}

#u5252:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 620px -10000px 0px 0px;
}

#u5342
{
	z-index: 36;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 620px;
	left: 349px;
}

#u5342:hover
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 620px -10000px 0px 0px;
}

#u4858
{
	z-index: 38;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 39px;
}

#u4858:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 930px -10000px 0px 0px;
}

#u6064
{
	z-index: 40;
	width: 300px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 349px;
}

#u6064:hover
{
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 300px;
	height: 300px;
	min-height: 0px;
	margin: 930px -10000px 0px 0px;
}

#u701
{
	position: absolute;
	width: 309px;
	background-color: transparent;
	top: 703px;
	left: -1102px;
}

#u701popup
{
	z-index: 42;
}

#u5359-6
{
	z-index: 43;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4801-6
{
	z-index: 49;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4893-6
{
	z-index: 55;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4945-6
{
	z-index: 61;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u5255-6
{
	z-index: 67;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u5345-6
{
	z-index: 73;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4861-6
{
	z-index: 79;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u6067-6
{
	z-index: 85;
	width: 309px;
	min-height: 92px;
	background-color: transparent;
	color: #3E3E3E;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u697-3
{
	position: absolute;
	width: 70px;
	min-height: 41px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 705px;
	left: -604px;
	background: transparent url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u697-3popup
{
	z-index: 91;
}

#u705-3
{
	position: absolute;
	width: 70px;
	min-height: 41px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 705px;
	left: -471px;
	background: transparent url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u697-3:hover,#u705-3:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 70px;
	margin: 0px;
}

#u705-3popup
{
	z-index: 94;
}

#u699
{
	position: absolute;
	width: 63px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	top: 706px;
	left: -534px;
	background: transparent url("../images/arrows-mn_close.png") no-repeat center center;
}

#u699:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 63px;
	height: 40px;
	min-height: 0px;
	margin: 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5993
{
	z-index: 150;
	bottom: 303px;
	left: 120px;
}

#u175-4
{
	z-index: 111;
	width: 161px;
	min-height: 27px;
	bottom: 266px;
	left: 120px;
}

#u591-4
{
	z-index: 146;
	width: 161px;
	min-height: 22px;
	bottom: 241px;
	left: 120px;
}

#menuu205
{
	z-index: 115;
	width: 161px;
	bottom: 62px;
	left: 120px;
}

#u206
{
	width: 161px;
}

#u209
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u209:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u4533
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u4533:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4535-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u209.MuseMenuActive #u210-4,#u4533:hover #u4535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u4533.MuseMenuActive,#u228:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u4533.MuseMenuActive #u4535-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u6182
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u6182:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6184-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u228.MuseMenuActive #u231-4,#u6182:hover #u6184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u4530,#u227,#u6181,#u6771
{
	width: 161px;
	margin-top: 2px;
}

#u6772
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u6182.MuseMenuActive,#u6772:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6772.MuseMenuActive
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6775-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u6182.MuseMenuActive #u6184-4,#u6772:hover #u6775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u6772.MuseMenuActive #u6775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 200px;
}

#top
{
	margin-left: 287px;
}

#u910-6
{
	z-index: 98;
	width: 683px;
	min-height: 145px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 32px;
	position: relative;
}

#u915-4
{
	z-index: 104;
	width: 585px;
	min-height: 24px;
	background-color: transparent;
	font-family: europa, sans-serif;
	font-weight: 300;
	margin-top: 16px;
	position: relative;
}

#u6693
{
	z-index: 109;
	width: 56px;
	height: 1229px;
	background-color: #3E3E3E;
	margin-top: 27px;
	position: relative;
}

#u6694
{
	z-index: 110;
	width: 56px;
	height: 1230px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 904px;
}

#u1104
{
	z-index: 108;
	width: 62px;
	height: 62px;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	position: fixed;
	bottom: 454px;
	right: 18px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1104:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1104.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u530-4
{
	z-index: 2;
	width: 369px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 1515px;
	left: 200px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1515px;
}

