.version.videos /* version checker */
{
	color: #00000A;
	background-color: #EC97F0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 616px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 58px;
	margin-left: auto;
	margin-right: auto;
}

#u5993
{
	z-index: 59;
	bottom: 303px;
	left: 120px;
}

#u175-4
{
	z-index: 20;
	width: 161px;
	min-height: 27px;
	bottom: 266px;
	left: 120px;
}

#u591-4
{
	z-index: 55;
	width: 161px;
	min-height: 22px;
	bottom: 241px;
	left: 120px;
}

#menuu205
{
	z-index: 24;
	width: 161px;
	bottom: 62px;
	left: 120px;
}

#u206
{
	width: 161px;
}

#u209
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u209:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u4533
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u4533:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4535-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u209.MuseMenuActive #u210-4,#u4533:hover #u4535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u4533.MuseMenuActive,#u228:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u4533.MuseMenuActive #u4535-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u6182
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u6182:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6184-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
}

#u228.MuseMenuActive #u231-4,#u6182:hover #u6184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u4530,#u227,#u6181,#u6771
{
	width: 161px;
	margin-top: 2px;
}

#u6772
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u6182.MuseMenuActive,#u6772:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6772.MuseMenuActive
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6775-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u6182.MuseMenuActive #u6184-4,#u6772:hover #u6775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u6772.MuseMenuActive #u6775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 199px;
}

#top
{
	margin-left: 288px;
}

#u6831-6
{
	z-index: 8;
	width: 683px;
	min-height: 145px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 32px;
	position: relative;
}

#u6832-4
{
	z-index: 14;
	width: 585px;
	min-height: 24px;
	background-color: transparent;
	font-family: europa, sans-serif;
	font-weight: 300;
	margin-top: 17px;
	position: relative;
}

#pu6833
{
	width: 0.01px;
	margin-top: 16px;
}

#u6833
{
	z-index: 18;
	width: 56px;
	height: 389px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
}

#u6829
{
	z-index: 7;
	width: 620px;
	min-height: 394px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u6834
{
	z-index: 19;
	width: 56px;
	height: 389px;
	background-color: #3E3E3E;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 904px;
}

#u530-4
{
	z-index: 2;
	width: 369px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 703px;
	left: 200px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -703px;
}

